@import 'https://fonts.googleapis.com/css?family=Abel';

html,
body {
  font-family: 'Abel', sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

hr {
    border: none;
    background: #BFFFE6;
    text-align: center;
    height: 90px;
}

/* Nav bar */

 nav ul {
  position: fixed;
  text-align: center;
  width: 100%;
  background-color: #EAEAEA;
  font-family: "Abel",sans-serif; 
  font-size: 1.5em; 
}

nav ul li {
  display: inline-block;
  margin: 30px; 
}

nav ul li a {
  color: #000;
  text-decoration: none;  
}
nav ul li a:hover {
  color: #ababab;
}

/* Welcome */

#welcome {
  top: 20;
  line-height: 1.6;
  background: #BFFFE6;
  min-height: 35vh;
  padding-top: 35vh;
  text-align: 
}

/* About me */

.about {
  padding-top: 20px;
  margin-top: -60px;
  padding-bottom: 80px;
  background-color: #dcdcdc;
}

.about .About-header {
  margin-top: 10px;
  color: #111;
  font-weight: normal;
}

.About-text{
  margin: auto;
  width: 30%;
  color: #111;
  font-weight: normal;
}

/* Skills */

.Skills-header {
  margin-top: 10px;
  color: #111;
  font-weight: normal;
}
.skills{
  padding-top: 80px;
  margin-top: -60px;
  padding-bottom: 80px;
  background-color: #dcdcdc;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
    
.logo{      
padding: 5px;   
box-sizing: border-box;   
}
  
.logo img{		
width: 70px;    
}

/* Portfolio */

.work {
  padding-top: 10px;
  margin-top: -60px;
  padding-bottom: 300px;
  background-color: #dcdcdc;
}

.work .Portfolio-header {
  margin-top: 10px;
  color: #111;
  font-weight: normal;
}

/* Contact */
.contact{
  padding-top: 10px;
  margin-top: -60px;
  padding-bottom: 300px;
  background-color: #dcdcdc;
}

.contact .Contact-header {
  margin-top: 10px;
  color: #111;
  font-weight: normal;
}

/* mobile */

@media screen and (max-width: 400px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 20px;
  }
  .project {
    margin: 40px 0;
  }
}